<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="conexionSQL_SERVER" connectionString="Data Source=DESKTOP-1PDRIS0;Initial Catalog=uninorte;User ID=sa;Password=556789"
      providerName="System.Data.SqlClient" />
    <add name="SysWpfUninorte.Properties.Settings.uninorteConnectionString"
      connectionString="Data Source=DESKTOP-1PDRIS0\SQLEXPRESS;Initial Catalog=uninorte;Persist Security Info=True;User ID=sa;Password=556789"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>